/*
!/.xinitrc
!/.Xresources
!/.gitignore
!/*.sh
!/vifm/vifmrc
!/mc
!/htop
!/PulseEffects
!/PulseEffects/output/*
!/i3
!/i3/config
!/i3status
!/i3status/config
!/nvim/init.vim
!/tmux/.tmux.conf
!/lazygit
!/README.md

