**/*
!/.xinitrc
!/.Xresources
!/.gitignore
!/cheatsheet.md
!/compton.conf
!/vsftpd/vsftpd.conf
!sh/*.sh
!/vifm/vifmrc
!/vifm/colors/Gruvbox.vifm
!/mc
!/htop
!/PulseEffects
!/PulseEffects/output/*
!/i3
!/i3/config
!/i3status
!/i3status/config
!/nvim/init.vim
!/tmux/.tmux.conf
!/git/config
!/lazygit
!/README.md

